@font-face {
    font-family: "iransans";
    src: url("../fonts/FontsFree-Net-ir_sans.ttf") format("truetype");
}


body {
    font-family: "iransans";
    /*height: 100%;*/
}

.body{
    background: linear-gradient(-45deg, #565656, #000000, #000000, #565656);
    background-size: 10000%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: #444444;
}

li {
    list-style: none;
}

