header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

ul {
    padding: 0;
}

nav {

    /*padding: 10px;*/
    /*width: 50%;*/
    /*width: 50%;*/
    display: inline-block;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

header nav ul {
    /*height: 63px;*/
    background-color: #00ffcc;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav ul li {
    padding: 15px 25px;
    transition: all ease-in-out .4s;
    font-size: 25px;
}

header nav ul li:first-child {
    border-bottom-right-radius: 10px;
}

header nav ul li:last-child {
    border-bottom-left-radius: 10px;
}

header nav ul li:hover {
    background-color: #006654;
    cursor: pointer;
}

header nav ul li a {
    transition: all ease-in-out .4s;
}

.active{
    background-color: #006654;
    font-weight: bold;
}
.active a{
    color: white;
}

header nav ul li:hover a {
    color: white;
    font-weight: bold;
}

.light-dark button{
    color: black;
    background-color: white;
    padding: 15px 30px;
    border: 1px solid #444444;
    font-family: iransans;
    margin: 10px 20px;
    box-shadow: 0 0 10px #000000 inset;
    transition: all ease-in-out .4s;
}
.light-dark button:hover{
    border-radius: 20px;
    box-shadow: none;
    cursor: pointer;
}

.light-dark{
    width: 200px;
    height: 40px;
    /*background-color: white;*/
    padding: 20px;
    position: absolute;
    top: 0px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #000000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
