<<<<<<< HEAD
@media only screen and (max-width: 640px) {
	body{
		margin: 0;
		padding: 0;
		font-family: B titr;
		background: url(Untitled-11.jpg);
		background-size: cover;
		background: linear-gradient(7deg, #00ffcc, #0d0d0d, #0d0d0d, #00ffcc);
		background-size: 400% 400%;
		animation: gradient 23s ease infinite;
	}
=======
body{
	padding: 0;
	font-family: B titr;
	background-size: cover;
	background: linear-gradient(7deg, #00ffcc, #0d0d0d, #0d0d0d, #00ffcc);
	background-size: 400% 400%;
	animation: gradient 23s ease infinite;
}
>>>>>>> be8c2053d7d905be64bd30d6ad9b69ceff9082ae

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.alert{
		width: 10;
	  	background-color: #f44336;
	  	text-align: center;
	  	color: black;
	  	padding: 2px 4px;
	  	border-radius: 15px;
	  	font-size: 29px;

	}
	.box{

		padding: none;
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: none;
		text-shadow: 3px 3px 4px #f2f2f2;
		text-align: center;
	}
	.box h1{
		margin: 3px auto;
		color: gray;
		font-weight: 400;
		font-size: 38px;
		text-shadow: 3px 3px 4px black;


	}
	.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
		border: 0;
		height: 12px;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 12px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.25s;
		
	}

	.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
		width: 340px;
		border-color: #1a1a1a;
	}
	.box input[type="text"]:hover,.box input[type="password"]:hover,.box input[type="email"]:hover,.box input[type="tel"]:hover{
		width: 340px;
		border-color: #1a1a1a;
	}

	.box input[type="button"]{
		border: 0;
		background: none;
		display: block;
		margin: 15px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 38px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.5s;
		cursor: pointer;
	}
	.box input[type="button"]:hover{
		border-color: #00b300;
		background:   #00e600;


	}
	.label{
		text-shadow: white;
		text-align: right;

	}
	a{
		border: 0;
		background: none;
		outline: none;
		color: darkblue;
	}
	p{
		border: 0;
		background: none;
		outline: none;
		color: black;
	}
}
@media only screen and (max-width: 1440px) {
	body{
		margin: 0;
		padding: 0;
		font-family: B titr;
		background: url(Untitled-11.jpg);
		background-size: cover;
		background: linear-gradient(7deg, #00ffcc, #0d0d0d, #0d0d0d, #00ffcc);
		background-size: 400% 400%;
		animation: gradient 23s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.alert{
		width: 10;
	  	background-color: #f44336;
	  	text-align: center;
	  	color: black;
	  	padding: 2px 4px;
	  	border-radius: 15px;
	  	font-size: 29px;

	}
	.box{

		padding: none;
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: none;
		text-shadow: 3px 3px 4px #f2f2f2;
		text-align: center;
	}
	.box h1{
		margin: 3px auto;
		color: gray;
		font-weight: 400;
		font-size: 38px;
		text-shadow: 3px 3px 4px black;


	}
	.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
		border: 0;
		height: 12px;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 12px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.25s;
		
	}

	.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
		width: 340px;
		border-color: #1a1a1a;
	}
	.box input[type="text"]:hover,.box input[type="password"]:hover,.box input[type="email"]:hover,.box input[type="tel"]:hover{
		width: 340px;
		border-color: #1a1a1a;
	}

	.box input[type="button"]{
		border: 0;
		background: none;
		display: block;
		margin: 15px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 38px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.5s;
		cursor: pointer;
	}
	.box input[type="button"]:hover{
		border-color: #00b300;
		background:   #00e600;


	}
	.label{
		text-shadow: white;
		text-align: right;

	}
	a{
		border: 0;
		background: none;
		outline: none;
		color: darkblue;
	}
	p{
		border: 0;
		background: none;
		outline: none;
		color: black;
	}
}
@media only screen and (max-width: 760px) {
	body{
		margin: 0;
		padding: 0;
		font-family: B titr;
		background: url(Untitled-11.jpg);
		background-size: cover;
		background: linear-gradient(7deg, #00ffcc, #0d0d0d, #0d0d0d, #00ffcc);
		background-size: 400% 400%;
		animation: gradient 23s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.alert{
		width: 10;
	  	background-color: #f44336;
	  	text-align: center;
	  	color: black;
	  	padding: 2px 4px;
	  	border-radius: 15px;
	  	font-size: 29px;

	}
	.box{

		padding: none;
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: none;
		text-shadow: 3px 3px 4px #f2f2f2;
		text-align: center;
	}
	.box h1{
		margin: 3px auto;
		color: gray;
		font-weight: 400;
		font-size: 38px;
		text-shadow: 3px 3px 4px black;


	}
	.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
		border: 0;
		height: 12px;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 12px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.25s;
		
	}

	.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
		width: 340px;
		border-color: #1a1a1a;
	}
	.box input[type="text"]:hover,.box input[type="password"]:hover,.box input[type="email"]:hover,.box input[type="tel"]:hover{
		width: 340px;
		border-color: #1a1a1a;
	}

	.box input[type="button"]{
		border: 0;
		background: none;
		display: block;
		margin: 15px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 38px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.5s;
		cursor: pointer;
	}
	.box input[type="button"]:hover{
		border-color: #00b300;
		background:   #00e600;


	}
	.label{
		text-shadow: white;
		text-align: right;

	}
	a{
		border: 0;
		background: none;
		outline: none;
		color: darkblue;
	}
	p{
		border: 0;
		background: none;
		outline: none;
		color: black;
	}
}
@media only screen and (max-width: 1366px) {
	body{
		margin: 0;
		padding: 0;
		font-family: B titr;
		background: url(Untitled-11.jpg);
		background-size: cover;
		background: linear-gradient(7deg, #00ffcc, #0d0d0d, #0d0d0d, #00ffcc);
		background-size: 400% 400%;
		animation: gradient 23s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.alert{
		width: 10;
	  	background-color: #f44336;
	  	text-align: center;
	  	color: black;
	  	padding: 2px 4px;
	  	border-radius: 15px;
	  	font-size: 29px;

	}
	.box{

		padding: none;
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: none;
		text-shadow: 3px 3px 4px #f2f2f2;
		text-align: center;
	}
	.box h1{
		margin: 3px auto;
		color: gray;
		font-weight: 400;
		font-size: 38px;
		text-shadow: 3px 3px 4px black;


	}
	.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
		border: 0;
		height: 12px;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 12px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.25s;
		
	}

	.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
		width: 340px;
		border-color: #1a1a1a;
	}
	.box input[type="text"]:hover,.box input[type="password"]:hover,.box input[type="email"]:hover,.box input[type="tel"]:hover{
		width: 340px;
		border-color: #1a1a1a;
	}

	.box input[type="button"]{
		border: 0;
		background: none;
		display: block;
		margin: 15px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 38px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.5s;
		cursor: pointer;
	}
	.box input[type="button"]:hover{
		border-color: #00b300;
		background:   #00e600;


	}
	.label{
		text-shadow: white;
		text-align: right;

	}
	a{
		border: 0;
		background: none;
		outline: none;
		color: darkblue;
	}
	p{
		border: 0;
		background: none;
		outline: none;
		color: black;
	}
}
@media only screen and (max-width: 1920px) {
	body{
		margin: 0;
		padding: 0;
		font-family: B titr;
		background: url(Untitled-11.jpg);
		background-size: cover;
		background: linear-gradient(7deg, #00ffcc, #0d0d0d, #0d0d0d, #00ffcc);
		background-size: 400% 400%;
		animation: gradient 23s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.alert{
		width: 10;
	  	background-color: #f44336;
	  	text-align: center;
	  	color: black;
	  	padding: 2px 4px;
	  	border-radius: 15px;
	  	font-size: 29px;

	}
	.box{

		padding: none;
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: none;
		text-shadow: 3px 3px 4px #f2f2f2;
		text-align: center;
	}
	.box h1{
		margin: 3px auto;
		color: gray;
		font-weight: 400;
		font-size: 38px;
		text-shadow: 3px 3px 4px black;


	}
	.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
		border: 0;
		height: 12px;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 12px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.25s;
		
	}

	.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
		width: 340px;
		border-color: #1a1a1a;
	}
	.box input[type="text"]:hover,.box input[type="password"]:hover,.box input[type="email"]:hover,.box input[type="tel"]:hover{
		width: 340px;
		border-color: #1a1a1a;
	}

	.box input[type="button"]{
		border: 0;
		background: none;
		display: block;
		margin: 15px auto;
		text-align: center;
		border: 3px inset #ff3333;
		padding: 16px 38px;
		outline: none;
		color: black;
		font-size: 22px;
		border-radius: 28px;
		transition: 0.5s;
		cursor: pointer;
	}
	.box input[type="button"]:hover{
		border-color: #00b300;
		background:   #00e600;


	}
	.label{
		text-shadow: white;
		text-align: right;

	}
	a{
		border: 0;
		background: none;
		outline: none;
		color: darkblue;
	}
	p{
		border: 0;
		background: none;
		outline: none;
		color: black;
	}
}