.stacked-cards {
    position: relative;
}
.stacked-cards ul {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    padding-left: 0;
}

.stacked-cards li {
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0px #333;
    list-style: none;
    width: 65%;
    position: absolute;
    left: 50%;
    transition: 0.5s ease transform;
}

.stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.stacked-cards li.active1:after {
    display: none;
}
.stacked-cards li img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 4;
}
.stacked-cards li.active1 {
    cursor: default;
    box-shadow: 0 5px 10px 0px #333;
    transition: 0.5s ease transform;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 70px 0;
}

.main-content {
    width: 73%;
    margin: 0 20px;
    text-align: right;
    color: white;
}

.main-sidebar {
    width: 22%;
    margin: 0 20px;
    text-align: center;
    /*height: 1000px;*/
    /*background-color: white;*/
}

.circles {
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    padding: 30px 140px;
    /*padding-right: 70px;*/
    justify-content: space-between;
}

.circles > div.courses {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    /*background: linear-gradient(-45deg, #52eecf 40%, #e73c7e 60%, #e73c7e, #52eecf);*/
    /*background-size: 400% 400%;*/
    /*animation: gradient2 5s ease infinite;*/
    /*border: 3px solid white;*/
}

.circle1, .circle2, .circle3 {
    width: 260px;
    height: 260px;
    position: absolute;
    border: 3px solid #ffffff;
    border-radius: 50%;
    transition: all ease-in-out 1s;
}

.circles > div {
    transition: all ease-in-out 1s;
}

.circles > div.courses:hover .circle1, .circles > div.questions:hover .circle2, .circles > div.projects:hover .circle3 {
    transform: rotateY(360deg);
}

.circles > div.questions {
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.circles > div.projects {
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.circles > div h4 {
    margin-top: 80px;
}

.circles > div h3 {
    margin-top: 20px;
    font-size: 50px;
}


@keyframes gradient2 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*----------------------------sidebar-----------------------------*/

.info-user {
    /*height: 300px;*/
    border: 4px solid #ffffff;
    background: linear-gradient(-45deg, #000000, #565656, #565656, #000000);
    background-size: 10000%;
    animation: gradient4 30s ease infinite;
    padding: 5%;
    border-radius: 5%;
}

@keyframes gradient4 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.info-user header {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.info-user header img {
    width: 260px;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 20px #444444;
    display: block;
    border-radius: 50%;
}

.info-user header h3 {
    display: block;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.info-user footer .time {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.info-user footer .point {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.point {
    margin: 20px 0;
    padding: 10px 10px;
    background-image: linear-gradient(to left, #00ffcc, #006654);
    border-radius: 5px;
}

.point:hover {
    background-image: linear-gradient(to left, #006654, #00ffcc);
    cursor: pointer;
}

.info-user footer .time h4, .info-user footer .point h4 {
    color: white;
    font-size: 18px;
    margin: 0 0 0 10px;
}

.info-user footer .time p, .info-user footer .point p {
    color: white;
    font-size: 17px;
    direction: rtl;
}


/*--------------------------------------news----------------------------------------*/

.news {
    border: 4px solid #ffffff;
    background: linear-gradient(-45deg, #000000, #565656, #565656, #000000);
    background-size: 10000%;
    animation: gradient4 30s ease infinite;
    padding: 5%;
    border-radius: 5%;
    margin: 40px 0;
    color: white;
    text-align: center;
}

.news header {
    font-size: 23px;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 10px;
}

.news ul li {
    border-bottom: 3px solid #ffffff;
    padding: 20px 0;
}

.news ul li p {
    text-align: right;
}

.news ul li h3 {
    background-color: crimson !important;
    display: inline-block;
    width: 40%;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0;
}

.news ul li:nth-child(2) h3 {
    background-color: #006654 !important;
}

.news ul li:nth-child(3) h3 {
    background-color: darkgoldenrod !important;
}

.news ul li:last-child {
    border: 0;
}

/*------------------------------------last Course-------------------------------------*/
.course-info-side {
    border: 4px solid #ffffff;
    background: linear-gradient(-45deg, #000000, #565656, #565656, #000000);
    background-size: 10000%;
    animation: gradient4 30s ease infinite;
    padding: 5%;
    border-radius: 5%;
    margin: 40px 0;
    color: white;
    text-align: center;
}

.course-info-side header{
    font-size: 23px;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.course-info-side .main img{
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px #444444;
}

.course-info-side .main .nameOfCourse,.teacherCourse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 20px 30px;
}

.progressBarCourseSide {
    margin: 20px 30px;
}

.nameOfCourse h5,.teacherCourse h5,.progressBarCourseSide h5{
    font-size: 20px;
    padding-left: 10px;
}

.nameOfCourse p,.teacherCourse p,.progressBarCourseSide p{
    font-size: 15px;
    padding-top: 5px;
}

.progressBarCourseSide progress{
    display: block;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}

.courses-main{
    border: 4px solid #ffffff;
    border-radius: 10px;
    padding: 40px 0 60px 0;
    margin: 30px 0;
    width: 100%;
    box-shadow: 0 0 10px #cccccc;

    position: relative;
}

.stacked-cards ul{
    width: 100%;

}

.courses-main .stacked-cards{
    width: 90%;
    display: block;
    overflow-x: hidden;
    height: 480px;
    margin: 0 auto;
}

.courses-main ul li:nth-child(odd){
    padding: 30px;
    width: 600px;
    height: 400px;
    background-color: darkcyan;
}

.courses-main ul li:hover{
    cursor: pointer;
}
.courses-main ul li.active1{
    cursor: auto;
}

.courses-main ul li:nth-child(even){
    padding: 30px;
    width: 600px;
    height: 400px;
    background-color: #006654;

}

.last-your-courses{
    position: absolute;
    top: -30px;
    left: 42%;
    background-color: darkorange;
    padding: 10px 30px;
    border-radius: 10px;
}

.courses-main ul li img{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.courses-main ul li h2{
    direction: rtl;
    padding: 15px 0;
    /*margin: 0 auto;*/
    text-align: center;
}

.courses-main ul li .teacher-course-main,.courses-main ul li .progressBarCourseSide{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.courses-main ul li .teacher-course-main{
    width: 40%;
    margin-top: -10px !important;
}
.courses-main ul li .progressBarCourseSide{
    width: 40%;
    margin-top: 15px !important;
}

.courses-main ul li .progressBarCourseSide h5{
    font-size: 20px;
}

.courses-main ul li .progressBarCourseSide progress{
    width: 100px;
}

.box-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 40px;
}

