body{
	margin: 0;
	padding: 0;
	font-family: B titr;
	background: url(Untitled-11.jpg);
	background-size: cover;
}

.box{

	padding: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
	text-shadow: 3px 3px 4px #f2f2f2;
	text-align: center;
}
.box h1{
	color: gray;
	font-weight: 400;
	font-size: 38px;
	text-shadow: 3px 3px 4px black;


}
.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
	border: 0;
	height: 12px;
	background: none;
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 3px inset #ff3333;
	padding: 16px 12px;
	outline: none;
	color: black;
	font-size: 22px;
	border-radius: 28px;
	transition: 0.25s;
	
}

.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
	width: 340px;
	border-color: #1a1a1a;
}
.box input[type="button"]{
	border: 0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 3px inset #ff3333;
	padding: 16px 38px;
	outline: none;
	color: black;
	font-size: 22px;
	border-radius: 28px;
	transition: 0.5s;
	cursor: pointer;
}
.box input[type="button"]:hover{
	border-color: #00b300;
	background:   #00e600;


}
.label{
	text-shadow: white;
	text-align: right;

}
a{
	border: 0;
	background: none;
	outline: none;
	color: darkblue;
}
p{
	border: 0;
	background: none;
	outline: none;
	color: black;
}