
body{
	background-color: red;
	margin: 0;
	color: black;

}
.landing-inner{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 50px;
}
.landing h1{
	font-size: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.landing p{
	font-size: 20px;
}
.countdown{
	font-size: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.countdown div{
	padding: 20px;
	border: 10px solid black;
	border-radius: 50px;
	background: #000;
	opacity: 0.7;
	margin: 5px;
	width: 200px;


}
.countdown span{
	display: block;
	font-size: 25px;
}
.top{
	margin-top: 120px !important;
}