<script src="../js/us-dash-stackedCards.js"></script>
<main>
    <section class="main-content">
        <section class="circles">
            <div class="courses">
                <div class="circle1"></div>
                <h4>:دوره های شما</h4>
                <h3>14</h3>
            </div>
            <div class="questions">
                <div class="circle2"></div>
                <h4>:سوالات شما</h4>
                <h3>1233</h3>
            </div>
            <div class="projects">
                <div class="circle3"></div>
                <h4>:پروژه های شما</h4>
                <h3>5</h3>
            </div>
        </section>
        <section class="courses-main">
            <div class="last-your-courses">
                <p>آخرین دوره های شما</p>
            </div>
            <div class="stacked-cards">
                <ul>
                    <li>
                        <img src="../image/createonlinecoursewp.png" alt="">
                        <h2>آموزش PHP پیشرفته 0 تا 100</h2>
                        <hr class="seprateCourse">
                        <div class="mybox">
                            <div class="box-info">
                                <div class="teacher-course-main">
                                    <h3> : مدرس</h3>
                                    <p> محمد صدرا واعظی</p>
                                </div>
                                <div class="progressBarCourseSide">
                                    <h5> : پیشرفت </h5>
                                    <progress value="76" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="../image/createonlinecoursewp.png" alt="">
                        <h2>آموزش PHP پیشرفته 0 تا 100</h2>
                        <hr class="seprateCourse">
                        <div class="mybox">
                            <div class="box-info">
                                <div class="teacher-course-main">
                                    <h3> : مدرس</h3>
                                    <p> محمد صدرا واعظی</p>
                                </div>
                                <div class="progressBarCourseSide">
                                    <h5> : پیشرفت </h5>
                                    <progress value="76" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="../image/createonlinecoursewp.png" alt="">
                        <h2>آموزش PHP پیشرفته 0 تا 100</h2>
                        <hr class="seprateCourse">
                        <div class="mybox">
                            <div class="box-info">
                                <div class="teacher-course-main">
                                    <h3> : مدرس</h3>
                                    <p> محمد صدرا واعظی</p>
                                </div>
                                <div class="progressBarCourseSide">
                                    <h5> : پیشرفت </h5>
                                    <progress value="76" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="../image/createonlinecoursewp.png" alt="">
                        <h2>آموزش PHP پیشرفته 0 تا 100</h2>
                        <hr class="seprateCourse">
                        <div class="mybox">
                            <div class="box-info">
                                <div class="teacher-course-main">
                                    <h3> : مدرس</h3>
                                    <p> محمد صدرا واعظی</p>
                                </div>
                                <div class="progressBarCourseSide">
                                    <h5> : پیشرفت </h5>
                                    <progress value="76" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="../image/createonlinecoursewp.png" alt="">
                        <h2>آموزش PHP پیشرفته 0 تا 100</h2>
                        <hr class="seprateCourse">
                        <div class="mybox">
                            <div class="box-info">
                                <div class="teacher-course-main">
                                    <h3> : مدرس</h3>
                                    <p> محمد صدرا واعظی</p>
                                </div>
                                <div class="progressBarCourseSide">
                                    <h5> : پیشرفت </h5>
                                    <progress value="76" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <section class="main-sidebar">
        <aside class="info-user">
            <header>
                <img src="../image/img_avatar.png" alt="">
                <h3>محمد مسیح واعظی</h3>
            </header>
            <footer>
                <div class="time">
                    <h4>: مدت عضویت</h4>
                    <p>12 ماه</p>
                </div>
                <div class="point">
                    <h4> : امتیاز</h4>
                    <p>230000</p>
                </div>
            </footer>
        </aside>
        <aside class="news">
            <header>
                <h2>اخبار</h2>
            </header>
            <div class="conatiner-news">
                <ul>
                    <li>
                        <h3>افتتاحیه</h3>
                        <p>سایت به زودی افتتاح خواهد شد غ---- میکنی استفاده نکنی!</p>
                    </li>
                    <li>
                        <h3>افتتاحیه</h3>
                        <p>سایت به زودی افتتاح خواهد شد غ---- میکنی استفاده نکنی!</p>
                    </li>
                    <li>
                        <h3>افتتاحیه</h3>
                        <p>سایت به زودی افتتاح خواهد شد غ---- میکنی استفاده نکنی!</p>
                    </li>
                </ul>
            </div>
        </aside>
        <aside class="course-info-side">
            <header>
                <h3>آخرین دوره شما</h3>
            </header>
            <div class="main">
                <img src="../image/createonlinecoursewp.png" alt="">
                <div class="nameOfCourse">
                    <h5> : نام دوره</h5>
                    <p>پی اچ پی مقدماتی از صفر تا صد</p>
                </div>
                <div class="teacherCourse">
                    <h5> : مدرس دوره</h5>
                    <p>محمد مسیح واعظی</p>
                </div>
                <div class="progressBarCourseSide">
                    <h5> : پیشرفت در دوره</h5>
                    <progress value="76" max="100"></progress>
                </div>
            </div>
        </aside>
    </section>
</main>

<script>
    var stackedCard = new stackedCards({
        selector: '.stacked-cards',
        layout: "slide",
        transformOrigin: "center",
    });

    stackedCard.init();
</script>

